<%- include ('partials/header.ejs') %>
<body class="bod-login">
    <div class="login-logo">
        <img class="logo" src="minimalistic-graphic.png" alt="calender graphic">
    </div>
    <div class="login-div">
        <form class="login-form" method="POST" action="/login" id="loginForm">
            <div>
                <label for="login-user" class="login-label">&nbsp;Username</label>
                <input type="text" class="login-input" id="login-user" name="username" required>
            </div><br>
            <div>
                <label for="login-pass" class="login-label">&nbsp;Password</label>
                <input type="password" class="login-input" id="login-pass" name="password" required>
            </div>
            <button type="submit" class="button">Login</button>
        </form>
    </div>
</body>
</html>